.secondaryButton {
  background-color: transparent;
  color: rgb(255, 255, 255);
  outline: none;
  border: solid rgb(255, 255, 255) 2px;
  border-radius: 30px;
  padding: 10px 0px;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
}
