.footer-container {
  background-color: #292b34;
  color: rgba(160, 160, 160, 0.425);
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  &__copyrights {
    direction: rtl;
  }
}
